
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&family=Roboto:ital,wght@0,100;1,100&family=Sometype+Mono&display=swap');


main {
    width: 600px;
    margin: 0 auto;
}



header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    text-align:center;
}







img {
    max-width: 200px;
    max-height: 150px;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #131a13;
    border-top: 1px solid #eb6e6e;
}



